/*constants*/
/*bootstrap overrides*/
/* line 17, ../sass/global.scss */
.nav-tabs > li > a {
  border-radius: 0;
  border-top: 1px solid #fff;
}

/* line 21, ../sass/global.scss */
.nav-tabs > li.active > a {
  border-top: 1px solid #fff;
}

/* line 24, ../sass/global.scss */
.nav-tabs > li:first-child > a,
.nav-tabs > li.active:first-child > a {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}

/* line 30, ../sass/global.scss */
.nav-tabs > li:last-child > a,
.nav-tabs > li.active:last-child > a {
  border-right: 1px solid #fff;
}

/* line 34, ../sass/global.scss */
.nav-tabs > li:last-child {
  float: right;
}

/**/
/* line 40, ../sass/global.scss */
.breather {
  padding: 30px;
}

/* line 44, ../sass/global.scss */
.message {
  padding: 10px;
}

/* line 48, ../sass/global.scss */
.left-column {
  border-right: 1px solid #ddd;
  padding: 0;
  height: 700px;
}

/* line 53, ../sass/global.scss */
.right-column {
  padding: 0;
}

/* line 57, ../sass/global.scss */
.glyphicon.success {
  color: #5cb85c;
}

/* line 60, ../sass/global.scss */
.glyphicon.danger {
  color: #d9534f;
}

/* line 63, ../sass/global.scss */
.block {
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}
/* line 69, ../sass/global.scss */
.block small {
  font-size: 70%;
  color: #777777;
}
/* line 74, ../sass/global.scss */
.block .delete:hover .glyphicon-trash {
  color: #555555;
}
/* line 78, ../sass/global.scss */
.block .glyphicon-trash {
  color: #eeeeee;
  float: right;
}

/* line 83, ../sass/global.scss */
.block.resolved {
  padding: 10px 20px;
}
/* line 86, ../sass/global.scss */
.block.resolved.danger {
  border-left: 3px solid #d9534f;
}
/* line 89, ../sass/global.scss */
.block.resolved.success {
  border-left: 3px solid #5cb85c;
}

/* line 95, ../sass/global.scss */
.delete .glyphicon-trash {
  padding-left: 20px;
}
