/*constants*/
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

$brand-primary: darken(#428bca, 6.5%); // #337ab7
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;



/*bootstrap overrides*/
.nav-tabs>li>a {
    border-radius: 0;
    border-top: 1px solid #fff;
}
.nav-tabs>li.active>a {
    border-top: 1px solid #fff;
}
.nav-tabs>li:first-child>a,
.nav-tabs>li.active:first-child>a {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

.nav-tabs>li:last-child>a,
.nav-tabs>li.active:last-child>a {
    border-right: 1px solid #fff;
}
.nav-tabs>li:last-child {
    float: right;
}


/**/
.breather {
    padding: 30px;
}

.message {
    padding: 10px;
}

.left-column {
    border-right: 1px solid #ddd;
    padding: 0;
    height: 700px;
}
.right-column {
    padding: 0;
}

.glyphicon.success {
    color: $brand-success;
}
.glyphicon.danger {
    color: $brand-danger;
}
.block {
    font-size: 16px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;

    small {
        font-size: 70%;
        color: $gray-light;
    }

    .delete:hover .glyphicon-trash {
        color: $gray;
    }

    .glyphicon-trash {
        color: $gray-lighter;
        float: right;
    }
}
.block.resolved {
    padding: 10px 20px;

    &.danger {
        border-left: 3px solid $brand-danger;
    }
    &.success {
        border-left: 3px solid $brand-success;
    }
    &.default {
        border-left: 3px solid $gray-light;
    }
}

.delete {
    .glyphicon-trash {
        padding-left: 20px;
    }
}



